body {
    background: hsla(100, 40%, 47%, 0.1);
    background-image: radial-gradient(hsla(209, 20%, 47%, 1.00) 7%, transparent 0);
    background-size: 25px 25px;
  }
  


footer p{
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
footer {
    clear: both;
    text-align: center;
    margin-top: 40px;
}
footer hr{
    margin-bottom: 10px;
}